body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden; 
    box-sizing: border-box;
}

/* Cabeçalho */
header {
    background-color: #ff6a00;
    width: 100%;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-content {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

header img.logo {
    height: 10vh;
    width: auto;
}

header .icons {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    margin-right: 2rem;
}

.icons a {
    text-decoration-line: none;
    justify-content: space-between;
    color: white; 
}

.icons i {
    font-size: 1.5rem;
    margin: 1rem;
}

/* Seção principal */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    position: relative;
    background-color: #f4f4f4;
    text-align: center;
}

.decorative-elements .circle {
    position: absolute;
    border-radius: 50%;
    background-color: #ffa50080;
}

.circle.small {
    width: 10vh;
    height: 10vh;
    bottom: 25vh;
    left: 14vh;
}

.circle.big {
    width: 30vh;
    height: 30vh;
    bottom: -8vh;
    left: -15vh;
    clip-path: circle(50% at 50% 50%);
}

.circle.big1 {
    width: 40vh;
    height: 40vh;
    bottom: 25vh;
    right: -25vh;
    clip-path: circle(50% at 50%);
}

.circle.small1 {
    width: 5vh;
    height: 5vh;
    bottom: 25%;
    left: 10vh;
}

/*caixa de login*/
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 900px;
    max-width: 1000px;
    padding-top: 8vh;
    margin: 0 auto;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ff6600;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 600px;
    max-width: 700px;
}

.login-header {
    background-color: #ff6600;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.login-header i.fa-user-circle {
    color: #ffffff;
    font-size: 3rem;
}

.loginMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    width: 100%;
    max-width: 600;
    padding: 25px;
    box-sizing: border-box; /* Inclui padding no cálculo da largura */
}

h2 {
    color: #f46026;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.email, .senha {
    display: flex;
    align-items: center;
    background-color: #ff6600;
    border-radius: 10px;
    text-align: left;
    padding: 5px;
    margin: 10px 0;
    width: 50%;
    box-sizing: border-box; /* Inclui padding no cálculo da largura */
}

label {
    color: #ffffff;
    font-weight: bold;
    width: 98%; /* Ajusta a largura da label */
    text-align: center;
    align-self: flex-start;
}

input {
    flex: 1;
    width: 90%; /* Ajusta a largura do input para ocupar o restante do espaço */
    padding: 10px;
    border: 1px solid #a7a7a7;
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 2.5rem; /* Ajusta a altura dos campos */
}

button {
    background-color: #f46026;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 95%;
    cursor: pointer;
    margin-top: 2vh;
}

button:hover {
    background-color: #ff6600;
}

p {
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .header-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    header img.logo {
        height: 5rem;
        margin-bottom: 1rem;
    }

    .icons {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .decorative-elements .circle {
        background-color: #ff6a00;
    }

    .circle.small {
        width: 8vh;
        height: 8vh;
        left: 5vw;
        bottom: 10vh;
    }

    .circle.big {
        width: 20vh;
        height: 20vh;
        bottom: -15%;
        left: -10vw;
    }

    .circle.big1 {
        width: 25vh;
        height: 25vh;
        right: -15vw;
        bottom: 5vh;
    }

    .circle.small1 {
        width: 4vh;
        height: 4vh;
        bottom: 20%;
        left: 5vw;
    }
}