<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rabitto</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles_login.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
</head>
<body>

<header>
    <div class="header-content">
        <div class="logo-header">
            <img src="{{ url_for('static', filename = 'img/logo.png') }}" alt="Rabitto" class="logo">
        </div>
        <div class="icons">
            <a href="">Sobre nós</a>
            <a href="{{ url_for('home') }}">
                <i class="fas fa-house"></i>
            </a>
            <i class="fas fa-envelope"></i>
            <i class="fas fa-shopping-cart"></i>
            <a href="{{ url_for('login') }}">
                <i class="fas fa-user-circle"></i>
            </a>
        </div>
    </div>
</header>

<section class="main-content">
    <div class="decorative-elements">
        <div class="circle small"></div>
        <div class="circle big"></div>
        <div class="circle big1"></div>
        <div class="circle small1"></div>
    </div>
    <div class="login-container">
        <div class="login-box">
            <div class="login-header">
                <i class="fas fa-user-circle"></i>
            </div>
            <div class="loginMain">
                <h2>Login</h2>
                <form method="POST" action="{{ url_for('login') }}">
                    <div class="email">
                        <label for="email">Email:</label>
                    </div>
                    <input type="email" id="email" name="email" required>
                
                    <div class="senha">
                        <label for="senha">Senha:</label>
                    </div>
                    <input type="password" id="senha" name="senha" required>
                
                    <button type="submit">Entrar</button>
                    <p>Não tem uma conta?<a href="{{ url_for('cadastro') }}"> Cadastre-se</a></p>
                </form>                
            </div>
        </div>
    </div>
</section>

</body>
</html>
