<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários Cadastrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Usuários Cadastrados</h1>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Nome e Sobrenome</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Sexo</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nome_e_sobrenome }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.celular }}</td>
                    <td>{{ cliente.sexo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
